<%- include("partials/header") -%>

    <div class="container">
        <div class="container">
            <div class="row product-page">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="row">
                        <!-- MAIN IMAGE  -->
                        <div class="col-lg-10 col-md-12 order-lg-2 text-center">
                            <img class="big-image" src=<%=Product.productImage[0] %> alt="tkastores">
                        </div>
                        <!-- SIDE IMAGES  -->
                        <div class="col-lg-2 col-md-12 small-images order-lg-1 text-center">
                            <% Product.productImage.forEach(image => { %>
                                <img src=<%=image %> alt="product-image" onclick="displayBigImage(this)">
                                <% }) %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 ">
                    <!-- product details -->
                    <div class="product-details">
                        <div>
                            <!-- <h2>BLACK CREW/ROUND NECK SIGNATURE SERIES</h2> -->
                            <h2>
                                <%=Product.name %>
                            </h2>
                            <hr>
                            <p>Rs.
                                <%=Product.price  %>
                            </p>
                            <p><small>Tax included.</small></p>
                        </div>
                        <!-- dropdown -->
                        <label><small>SIZE</small></label>
                        <br>
                        <select name="size" id="size">
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                        <option value="XXL">XXL</option>
                     </select>
                        <br> <br>
                        <label><small>QUANTITY</small></label>
                        <br>
                        <input type="number" name="quantity" value="1" /> <br> <br>

                        <!-- cart and buy buttons -->
                        <div>
                <a style="text-decoration: none" href="/add-to-cart/<%=Product._id%>">
                    <button class="btn btn-outline-primary btn-md btn-block" type="button" name="button">
                        <i class="fa fa-shopping-cart"></i> 
                        ADD TO CARD
                    </button>

                </a>
                <br>
                <!-- <script src="https://js.stripe.com/v3/"></script>
                <div class="checkout-button">
                    <form action="/create-checkout-session" method="POST">
                    <button class="btn btn-primary btn-md btn-block" type="button" name="singleProduct" id="checkout-button">BUY IT NOW</button>
                            <button class="btn btn-primary btn-md btn-block" type="button" name="button">
                    </button>
                </form>
                </div> -->

                        <!-- <a style="text-decoration: none" href="/add-to-cart/">
                            <button class="btn btn-primary btn-md btn-block" type="button" name="button">
                            <i class="fa fa-shopping-cart"></i> 
                                ADD TO CART
                        </button>
                        </a> -->
                    </div>

                    <!-- description -->
                    <div class="product-description">
                        <hr>
                        <p>Slim fit luxury Crew Neck T-Shirts for the Urban Modern men Premium Blend of Cotton, Micro Modal and Spandex. Short Sleeve, Slim Fit Luxury Crew-Neck T-Shirt NOTE: ITEMS on SALE DO NOT QUALIFY for the REFUND and REPLACEMENT POLICY.
                            Kindly read our Refunds and Replacement Policy to learn more. *All our sizes are cut slim. If you wear a medium size T-Shirt, pick the Medium size TMBBasics <br> Measurements: Small: Chest 32.5- 35 inches Medium: Chest - 36
                            - 39 inches Large: Chest - 40 - 43 inches Extra Large: Chest - 44 - 46 inches
                        </p>
                    </div>
                    <!-- share -->
                    <div class="text-center">
                        <p>Share on <i class="fa fa-facebook-f"></i> <i class="fa fa-instagram"></i> <i class="fa fa-twitter"></i>
                        </p>
                    </div>

                    <!-- reviews -->
                    <div class="mt-5 mb-5">
                        <hr>
                        <h3>Reviews</h3>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        <a href="#"><small>Write a Review</small></a>

                        <!-- peoples reviews -->
                        <div class="mb-5">
                            <h6>Good Product</h6>
                            <small><i>Bill Gates on Mar 22,2020</i></small>
                            <small class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star"></i></small>
                            <p>The fabric is extremely breathable.It fits perfect to my body frame.If you are into fitness and want to look more muscular I definitely recommend this tee. The tricep exposure is also perfect.The feel, fabric and its stretch
                                are top notch.Definitely buying more of these.</p>

                            <h6>Good Product</h6>
                            <small><i>Bill Gates on Mar 22,2020</i></small>
                            <small class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star"></i></small>
                            <p>The fabric is extremely breathable.It fits perfect to my body frame.If you are into fitness and want to look more muscular I definitely recommend this tee. The tricep exposure is also perfect.The feel, fabric and its stretch
                                are top notch.Definitely buying more of these.</p>

                            <hr>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- you may also like section -->
    <div class="product-recommendation mt-5 text-center">
        <div class="mb-5">
            <h3>YOU MAY ALSO LIKE</h3>
        </div>
        <div class="container-fluid">
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col col-md-3 col-sm-5 col-xs-5">
                    <img src="photos/product.jpg " alt="product-img">
                    <br>
                    <p class="mt-4">
                        <span class="font-weight-bold ">Black t-shirt</span> <br>
                        <small>Rs. 499</small>
                    </p>
                </div>
                <div class="col col-md-3 col-sm-5 col-xs-5">
                    <img src="photos/product.jpg " alt="product-img ">
                    <br>
                    <p class="mt-4">
                        <span class="font-weight-bold ">Black t-shirt</span> <br>
                        <small>Rs. 499</small>
                    </p>
                </div>
                <div class="col col-md-3 col-sm-5 col-xs-5">
                    <img src="photos/product.jpg " alt="product-img ">
                    <br>
                    <p class="mt-4">
                        <span class="font-weight-bold ">Black t-shirt</span> <br>
                        <small>Rs. 499</small>
                    </p>
                </div>
                <div class="col col-md-3 col-sm-5 col-xs-5">
                    <img src="photos/product.jpg " alt="product-img ">
                    <br>
                    <p class="mt-4">
                        <span class="font-weight-bold ">Black t-shirt</span> <br>
                        <small>Rs. 499</small>
                    </p>
                </div>
            </div>
        </div>
        <hr>


    </div>
    </div>

    <script type="text/javascript">
        var stripe = Stripe('<%= STRIPE_PUBLISHABLE_KEY %>');
        var checkoutButton = document.getElementById('checkout-button');
  
        checkoutButton.addEventListener('click', function() {
          fetch('/create-checkout-session', {
            method: 'POST',
          })
          .then(function(response) {
            return response.json();
          })
          .then(function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
          })
          .then(function(result) {
            if (result.error) {
              alert(result.error.message);
            } 
          })
          .catch(function(error) {
            console.error('Error:', error);
          });
        });
      </script>

    <script>
        function displayBigImage(clickedImage) {
            bigImage = document.querySelector(".big-image");
            bigImage.src = clickedImage.src
        }
    </script>


    <%- include("partials/footer") -%>